.box1
{
	width: 500px;
	height: auto;
	background-color: rgba(231,240,250,0.62);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 40px 10px;
	border-radius: 30px;
	-webkit-box-shadow: 11px 11px 11px -6px rgba(18,33,63,0.31);
	-moz-box-shadow: 11px 11px 11px -6px rgba(18,33,63,0.31);
	box-shadow: 11px 11px 11px -6px rgba(18,33,63,0.31);
}

table{
	border: 0;
    outline: 0;
}
.borderless td, .borderless th {
    border: none !important;
}
h4{
	font-size: x-large;
	font-weight: 900;
	color: #12213F;
	text-align: center;
}
#title,p{
	font-size: medium;
	font-weight: bold;
	color: #12213F;
	text-align: right;
}
#sub{
	font-size: medium;
	font-weight: lighter;
	color: #12213F;
	text-align: left;
}