html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url("backgroundImage.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.error {
  color: red;
}

#fullcontainer {
  /* margin: 55px 240px; */
  margin-top: 55px;
  border-radius: 40px !important;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.container_form {
    display: flex;
    margin: 55px 240px !important;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: white;
    border-radius: 40px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.form_left {
    flex: 1;
    
}
.form_right {
    padding-top: 20px;
    padding-bottom: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    align-items: center;
}
h2 {
    font-weight: 700 !important;
    margin-top: 0.7rem!important;
    margin-bottom: 1rem!important;
}
label {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1rem!important;
}
span{
    font-size: large!important;
    font-weight: 400!important;
    margin-bottom: 1rem!important;   
}
.subm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.btn-primary {
    border-radius: 8px !important;
    width: 85px !important;
    height: 35px !important;
    background-color: #5068A9 !important;
}
#edit {
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.3);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.3);
    color: white;
}
